<main style="margin-top: 58px;">
  <section class=" text-center text-lg-start">
    <style>
      .rounded-t-5 {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
      }
  
      @media (min-width: 992px) {
        .rounded-tr-lg-0 {
          border-top-right-radius: 0;
        }
  
        .rounded-bl-lg-5 {
          border-bottom-left-radius: 0.5rem;
        }
      }
    </style>
    <div class="card mb-3">
      <div class="row g-0 d-flex align-items-center">
        <div class="col-lg-4 d-none d-lg-flex">
          <img src="./../../../assets/img/050.jpg"
            class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
        </div>
        <div class="col-lg-6">
          <div class="card-body py-5 px-md-5">
  
            <form #f="ngForm" (ngSubmit)="loginwithep(f)">
              <!-- Email input -->
              <div class="input-group md-form form-sm form-3 pl-0">
                <input type="email" name="email" ngModel class="form-control mt-0 amber-border" placeholder="Enter Email Address" aria-describedby="basic-addon9" required>
              </div>
  
              <!-- Password input -->
              <div class="input-group md-form form-sm form-3 pl-0">
                <input type="password" name="password" ngModel class="form-control mt-0 amber-border" placeholder="Enter Password" aria-describedby="basic-addon9" required>
              </div>
  
              <!-- 2 column grid layout for inline styling -->
              <div class="row mb-4">
                <div class="col">
                  <!-- Simple link -->
                  <a routerLink="/forgot-password" style="color:#0cac9c">Forgot password?</a>
                </div>
                <div class="col">
                  <!-- Simple link -->
                  <a routerLink="/register" style="color:#0cac9c">Create a new Acccount</a>
                </div>
              </div>
  
              <!-- Submit button -->
              <button type="submit" class="btn btn-block mb-4" style="background-color: #0cac9c; color: white;">Sign in</button>
              <button type="button" (click)="login()" class="btn btn-primary btn-block mb-4">
                <i class="fab fa-google"></i> Sign in with Google
              </button>
            </form>
  
          </div>
        </div>
      </div>
    </div>
  </section>
  </main>