<main>
  <div class="container pt-4">
    <!-- Section: Design Block -->
    <section class="">
      <!-- Jumbotron -->
      <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
        <div class="container">
          <div class="row gx-lg-5 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
              <h1 class="my-5 display-3 fw-bold ls-tight">
                Get insights on<br />
                <span style="color: #0cac9c">CryptoCurrency Projects</span>
              </h1>
              <p style="color: hsl(217, 10%, 50.8%)">
                Create an account on Investocrypt to get the best daily insights
                on emerging blockchain and CryptoCurrency projects.
              </p>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0 mt-2">
              <div class="card">
                <div class="card-body py-5 px-md-5">
                  <form #f="ngForm" (ngSubmit)="register(f)">
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    <div class="row">
                      <div class="col-md-6 mb-4">
                        <!-- Email input -->
                        <div class="input-group md-form form-sm form-3 pl-0">
                          <input type="text" class="form-control mt-0 amber-border" placeholder="First Name"
                          ngModel name="fname" aria-describedby="basic-addon9" required>
                        </div>
                      </div>
                      <div class="col-md-6 mb-4">
                        <!-- Password input -->
                        <div class="input-group md-form form-sm form-3 pl-0">
                          <input type="text" class="form-control mt-0 amber-border" placeholder="Last Name"
                          ngModel name="lname" aria-describedby="basic-addon9" required>
                        </div>
                      </div>
                    </div>

                    <!-- Email input -->
                    <div class="input-group md-form form-sm form-3 pl-0">
                      <input type="email" class="form-control mt-0 amber-border" placeholder="Enter Email Address"
                      ngModel name="email" aria-describedby="basic-addon9" required>
                    </div>

                    <!-- Password input -->
                    <div class="input-group md-form form-sm form-3 pl-0">
                      <input type="password" class="form-control mt-0 amber-border" placeholder="Enter Password"
                      ngModel name="password" aria-describedby="basic-addon9" required>
                    </div>
                    <!-- 2 column grid layout for inline styling -->
                    <div class="row mb-4">
                      <div class="col">
                        <!-- Simple link -->
                        <a routerLink="/login" style="color:#0cac9c">Already have an account? Sign in</a>
                      </div>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-success btn-block mb-4">
                      Sign up
                    </button>

                    <!-- Register buttons -->
                    <div class="text-center">
                      <button type="button" (click)="register_g()" class="btn btn-primary btn-block mb-4">
                        <i class="fab fa-google"></i> Sign up with Google
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Jumbotron -->
    </section>
    <!-- Section: Design Block -->
  </div>
</main>