<header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          <a *ngIf="(user | async)?.uid" routerLink="/profile" class="list-group-item list-group-item-action py-2 ripple"><i
            class="fas fa-user fa-fw me-3"></i><span>My Profile</span></a>
          <a *ngIf="!(user | async)?.uid" routerLink="/login" class="list-group-item list-group-item-action py-2 ripple"><i
              class="fas fa-user fa-fw me-3"></i><span>Login</span></a>
          <a routerLink="/" class="list-group-item list-group-item-action py-2 ripple">
            <i class="fas fa-chart-pie fa-fw me-3"></i><span>Dashboard</span>
          </a>
          <!-- <a routerLink="/" class="list-group-item list-group-item-action py-2 ripple">
            <i class="fas fa-box fa-fw me-3"></i><span>My Baskets</span>
          </a> -->
          <a routerLink="/sentiment-analysis" class="list-group-item list-group-item-action py-2 ripple"><i
              class="fas fa-chart-line fa-fw me-3"></i><span>Sentiment Analysis</span>
          </a>
          <a routerLink="/market-prices"  class="list-group-item list-group-item-action py-2 ripple"><i
              class="fas fa-chart-bar fa-fw me-3"></i><span>Market Prices</span></a>
          <a routerLink="/search" class="list-group-item list-group-item-action py-2 ripple"><i
              class="fas fa-search fa-fw me-3"></i><span>Search a Project</span></a>
          <!-- <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
              class="fas fa-newspaper fa-fw me-3"></i><span>Crypto News</span></a> -->
          <a routerLink="/about" class="list-group-item list-group-item-action py-2 ripple"><i
              class="fas fa-info fa-fw me-3"></i><span>About InvestoCrypt</span></a>
        </div>
        <p class="text-center mt-5" ><u>version 1.0</u></p>
        
      </div>
    </nav>
    <!-- Sidebar -->

    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
          aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>

        <!-- Brand -->
        <a class="navbar-brand" routerLink="/">
          <img src="./../../assets/img/logo.png" height="30" alt="" loading="lazy" />
        </a>

        <!-- Right links -->
        <ul class="navbar-nav ms-auto d-flex flex-row">

          <!-- Icon dropdown
          <li class="nav-item dropdown">
            <a class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow" href="#" id="navbarDropdown" role="button"
              data-mdb-toggle="dropdown" aria-expanded="false">
              <i class="india flag m-0"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" href="#"><i class="india flag"></i>English
                  <i class="fa fa-check text-success ms-2"></i></a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="poland flag"></i>Polski</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="china flag"></i>中文</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="japan flag"></i>日本語</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="germany flag"></i>Deutsch</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="france flag"></i>Français</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="spain flag"></i>Español</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="russia flag"></i>Русский</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="portugal flag"></i>Português</a>
              </li>
            </ul>
          </li> -->

          <!-- Avatar -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#"
              id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
              <!-- User Signed in from Google -->
              <!-- <img *ngIf="(user | async)?.uid && authbyGoogle" src="{{(user | async)?.photoURL}}" class="rounded-circle" height="35"
                alt="" loading="lazy" /> -->
              <!-- User Not Logged in -->
              <img *ngIf="!(user | async)?.uid" src="../../assets/img/notlogin.png" class="rounded-circle" height="30"
                alt="" loading="lazy" />
              <!-- User Signed in from Email/Pass -->
              <img *ngIf="(user | async)?.uid" src="./../../assets/img/avatar.png" class="rounded-circle" height="30"
                alt="" loading="lazy" />
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              <!-- <li *ngIf="(user | async)?.uid" disabled><a class="dropdown-item">{{ (user | async)?.displayName }}</a></li> -->
              <li *ngIf="!(user | async)?.uid"><a class="dropdown-item" routerLink="/login">Login</a></li>
              <li *ngIf="(user | async)?.uid"><a class="dropdown-item" routerLink="/profile">My profile</a></li>
              <li><a class="dropdown-item" routerLink="/">Dashboard</a></li>
              <li *ngIf="(user | async)?.uid"><a class="dropdown-item" routerLink="/sentiment-analysis">Sentiment Analysis</a></li>
              <li *ngIf="(user | async)?.uid"><a class="dropdown-item" routerLink="/market-prices">Market Prices</a></li>
              <li *ngIf="(user | async)?.uid"><a class="dropdown-item" routerLink="/search">Search a Project</a></li>
              <li ><a class="dropdown-item" routerLink="/about">About InvestoCrypt</a></li>
              <li *ngIf="(user | async)?.uid"><a class="dropdown-item" (click)="logout()">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
  </header>
  
