<main style="margin-top: 58px;">
    <section class="mb-4">
        <div class="card">
          <div class="card-header text-center py-3">
            <h3 class="mb-0 text-center mt-2">
              <strong>About The Project</strong>
            </h3>
          </div>
          <div class="card-body text-center">
            <h1 class="card-title">Project Vision</h1>
                <p class="card-text" style="margin-top: 30px;">The project aims to help investors who are looking to include cryptocurrencices in their investment portfolio.</p>
                <p class="card-text">It offers useful insights on the current market situations in order to help investors decide a good time to invest.</p>
                <h5 class="card-title">Powered by Alternative.me</h5>
                <a href="https://alternative.me/" target="_blank" class="btn btn-danger">Go to Alternative.me</a>
                <h1 style="margin-top: 30px;">Github Repository</h1>
                <p class="card-text" style="margin-top: 30px;">
                    <img src='../../../assets/img/git.webp' class="img-fluid" style="height: 80px;width:80px;">
                <h3>vivekx01</h3>
                <a href="https://github.com/vivekx01/investocrypt" target="_blank" class="btn btn-dark">View Source <Code></Code></a>
            
          </div>
        </div>
      </section>
</main>
