<main style="margin-top: 58px">
  <div class="container pt-4">
    <section class="mb-4">
      <div class="card">
        <div class="card-header text-center py-3">
          <h5 class="mb-0 text-center">
            <strong>Fear and Greed Index</strong>
          </h5>
        </div>
        <div class="card-body text-center">
          <img class="img-fluid" src="https://alternative.me/crypto/fear-and-greed-index.png" 
          height="400px" width="400px" alt="Latest Crypto Fear & Greed Index" />
        </div>
      </div>
    </section>
    <section class="mb-4">
      <div class="card">
        <div class="card-header text-center py-3">
          <h5 class="mb-0 text-center">
            <strong>Top Market Gainers in 24 Hours</strong>
          </h5>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover text-nowrap">
              <thead>
                <tr>
                  <th><b>#</b></th>
                  <th><b>Symbol</b></th>
                  <th><b>Name</b></th>
                  <th><b>Price</b></th>
                  <th><b>24 hour Percent Change</b></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let gainer of gainers; index as i">
                  <td> {{ i + 1 }}</td>
                  <td>{{ gainer.symbol }}</td>
                  <td>{{gainer.name}}</td>
                  <td>${{gainer.price }}</td>
                  <td >
                    <span [ngClass]="{'text-success': valueindicate(gainer.change) , 
                    'text-danger': !valueindicate(gainer.change)}">
                      <!-- <i *ngIf="valueindicate(item.quotes.USD.percent_change_24h)" class="fas fa-caret-up me-1"></i>
                      <i *ngIf="!valueindicate(item.quotes.USD.percent_change_24h)" class="fas fa-caret-down me-1"></i> -->
                      {{ gainer.change | number : "1.0-2" }}%
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
    <section class="mb-4">
      <div class="card">
        <div class="card-header text-center py-3">
          <h5 class="mb-0 text-center">
            <strong>Top Market Losers in 24 Hours</strong>
          </h5>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover text-nowrap">
              <thead>
                <tr>
                  <th><b>#</b></th>
                  <th><b>Symbol</b></th>
                  <th><b>Name</b></th>
                  <th><b>Price</b></th>
                  <th><b>24 hour Percent Change</b></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let loser of losers; index as i">
                  <td> {{ i + 1 }}</td>
                  <td>{{ loser.symbol }}</td>
                  <td>{{loser.name}}</td>
                  <td>${{loser.price }}</td>
                  <td >
                    <span [ngClass]="{'text-success': valueindicate(loser.change) , 
                    'text-danger': !valueindicate(loser.change)}">
                      <!-- <i *ngIf="valueindicate(item.quotes.USD.percent_change_24h)" class="fas fa-caret-up me-1"></i>
                      <i *ngIf="!valueindicate(item.quotes.USD.percent_change_24h)" class="fas fa-caret-down me-1"></i> -->
                      {{ loser.change | number : "1.0-2" }}%
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
    
    
  </div>
</main>